<template>
  <div id="chip"
    :class="[outline?'outline-chip':'chip', isAll?'chip-all':'', 'hvr-bounce-out']"
    @click="onClick">
    {{text}}
  </div>

</template>

<script>
export default {
  name: 'chip',
  props: {
    isAll: Boolean,
    outline: Boolean,
    text: String
  },
  methods: {
    onClick () {
      this.$emit('onClick')
    }
  }
}
</script>

<style lang="stylus" scoped>
.outline-chip
.chip
  color white
  font-weight 500
  border-radius 20px
  padding 2px 8px
  margin 4px 2px
  height 28px
  line-height 24px
  display inline-block
  border 2px solid #3F585D
  background #3F585D
  cursor pointer
  font-size: 14px;

.outline-chip
  border 2px solid #3F585D
  color #3F585D
  background white !important
.chip-all.outline-chip
  color #5AA6B6
.chip-all
  border-color #5AA6B6
  background #5AA6B6



/* Bounce Out */
.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
</style>
