<template>
  <div>
    <form @submit.prevent="emitSearch" class="search-container">
      <input class="input-search input-text" 
        type="text" 
        placeholder="Estoy buscando... " 
        :value="value" @input="emitValue"
        ref="inputTxt" autofocus>
        <!--  @click="emitSearch"  -->
      <button type="submit" class="btn input-submit hvr-icon-grow">
        <img  class="search-icon hvr-icon" 
              src="/static/icons/ic_search_white_24px.svg" 
              alt="" width="32px" height="32px">
      </button>
    </form>
  </div>
</template>

<script>
export default {
  name: 'searchbox',
  props: {
    value: String
  },
  data () {
    return {
      searchTxt: this.value
    }
  },
  methods: {
    emitSearch () {
      this.$emit('onClickSearch')
    },
    emitValue () {
      this.$emit('input', this.$refs.inputTxt.value)
    }
  }
}
</script>

<style lang="stylus" scoped>
.search-container
  display flex
  flex-wrap wrap
  margin 10px 20px
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  max-width 900px
  margin-right auto
  margin-left auto

.input-search
  flex-grow 3
.input-submit
  flex-grow 1

.input-search
  z-index 2
  height 50px
  padding 0 15px
  border 0
  background white
  font-size 20px
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
.input-submit:focus
.input-search:focus
  outline none
.input-submit
  z-index 1
  height 50px
  background #038ca0
  border 0
  border-radius 0
  color white
  font-weight 500
  // box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
.search-icon
  vertical-align: middle;
.btn
  cursor pointer


@media screen and (max-width 450px)
  .input-search
    font-size 14px
  .search-container
    display flex
    flex-wrap wrap
    margin 5px 10px


/* Icon Grow */
.hvr-icon-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-grow .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-grow:hover .hvr-icon, .hvr-icon-grow:focus .hvr-icon, .hvr-icon-grow:active .hvr-icon {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
}

</style>

