<template>
<transition name="fade-sb">
  <div id="snackbar" v-if="isSnackbar">
      {{ text }}
  </div>
</transition>
</template>

<script>
export default {
  name: 'snackbar',
  computed: {
    text () {
      return this.$store.state.sbText
    },
    isSnackbar () {
      return this.$store.state.isSnackbar
    }
  }
}
</script>

<style lang="stylus" scoped>
#snackbar
  padding: 10px 20px
  background #000000d6
  color white
  position fixed
  top 0
  left 0
  width 100%
  z-index 10


.fade-sb-enter-active {
  transition: all .3s ease;
}
.fade-sb-leave-active {
  transition: all .3s ease;
  // transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-sb-enter, .fade-sb-leave-to
/* .fade-sb-leave-active below version 2.1.8 */ {
  // transform: translateY(80px);
  opacity: 0;
}
</style>
