<template>
  <div id="index">
    <snackbar/>
    <!-- <div class="search-title">
      <h1> Buscar un producto </h1>
    </div> -->
    <searchbox v-model="searchTxt" @onClickSearch="initSearch"/>
    <div class="filter-container">
      <p class="filter-by-categories" @click="chipCategories = !chipCategories">
        <img class="chevron-btn" :src="chipCategories?'/static/icons/ic_keyboard_arrow_up_black_24px.svg':'/static/icons/ic_keyboard_arrow_down_black_24px.svg'" alt="">
        Filtrar por Categorías: <span class="categories-selected">{{ (categoriesSelected.map(e => e.name)).join(', ') }}</span></p>

      <transition name="hide-panel">
        <div class="chips-container" v-if="chipCategories">
          <chip v-for="(category, key) in allCategories"
                :key="key+'filteredword'"
                :text="key"
                :isAll="isAll(category)"
                :outline="!isSelected(category, 'categoriesSelected')"
                @onClick="onSelectAnItem(category, 'categories')"
                />
        </div>
      </transition>
      
    </div>

    <div class="filter-container" v-if="categoriesSelected.length > 0">
      <p class="filter-by-brands" @click="chipBrands = !chipBrands">
        <img class="chevron-btn" :src="chipBrands?'/static/icons/ic_keyboard_arrow_up_black_24px.svg':'/static/icons/ic_keyboard_arrow_down_black_24px.svg'" alt="">
        Filtrar por Marcas: <span class="brands-selected">{{ (brandsSelected.map(e => e.name)).join(', ') }}</span>
      </p>
      <transition name="hide-panel">
        <div class="chips-container" v-if="chipBrands">
          <chip v-for="(item, i) in allBrands"
                :key="i+'filteredbrand'"
                :text="i"
                :isAll="isAll(item)"
                :outline="!isSelected(item, 'brandsSelected')"
                @onClick="onSelectAnItem(item, 'brands')"
                />
        </div>
      </transition>
    </div>
    <!--  FAMILIES  -->
    <div class="filter-container" v-if="brandsSelected.length > 0">
      <p class="filter-by-families" @click="chipFamilies = !chipFamilies">
        <img class="chevron-btn" :src="chipFamilies?'/static/icons/ic_keyboard_arrow_up_black_24px.svg':'/static/icons/ic_keyboard_arrow_down_black_24px.svg'" alt="">
        Filtrar por Familia: <span class="families-selected">{{ familiesSelected.join(', ') }}</span>
      </p>
      <transition name="hide-panel">
        <div class="chips-container" v-if="chipFamilies">
          <chip v-for="(item, i) in allFamilies"
                :key="i+'filteredfamily'"
                :text="item"
                :isAll="isAll(item)"
                :outline="!isSelected(item, 'familiesSelected')"
                @onClick="onSelectAnItem(item, 'families')"
                />
        </div>
      </transition>
    </div>

    <div class="results-container">
      <div v-if="hasFirstSearch" class="results-length">Se obtuvo {{ results.length }} Resultados </div>
      <div v-if="results.length === 0" class="empty-results">
        <div><img src="/static/icons/ic_search_black_24px.svg" width="48px" height="48px" alt=""></div>
        <div class="message-notfound">Tu b&uacute;squeda no se encontr&oacute; en ninguno de los productos</div>
      </div>
      <div v-for="(item, i) in results" :key="i+'result-item'" class="result-item">
        <div class="de-item"> {{ item.DE_ITEM }} <span class="id-item">(ID: {{item.ID_ITEM}})</span></div>
        <div class="de-cate"> Categoria: {{ item.DE_CATE }}</div>
        <div class="de-brand"> Marca: {{ item.DE_EQUI }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Searchbox from '../components/SearchBox'
import Snackbar from '../components/Snackbar'
import Chip from '../components/Chip'

export default {
  components: { Searchbox, Chip, Snackbar },
  data () {
    return {
      searchTxt: '',
      chipBrands: true,
      chipCategories: true,
      chipFamilies: true,
      hasFirstSearch: false,
      next: 0,
      results: []
    }
  },
  computed: {
    BASE_URL () {
      return this.$store.state.BASE_URL
    },
    allCategories () {
      return this.$store.getters.categories
    },
    allBrands () {
      return this.$store.getters.brands
    },
    allFamilies () {
      return this.$store.getters.families
    },
    categoriesSelected () {
      return this.$store.getters.categoriesSelected
    },
    brandsSelected () {
      return this.$store.getters.brandsSelected
    },
    familiesSelected () {
      return this.$store.getters.familiesSelected
    }
  },
  methods: {
    isSelected (item, type) {
      return this[type].indexOf(item) !== -1
    },
    isAll (item) {
      return item === 'Todos'
    },
    hideFilters () {
      this.chipBrands = false
      this.chipCategories = false
      this.chipFamilies = false
    },
    showSnackbar (text) {
      this.$store.dispatch('showSnackbar', text)
    },
    scrollSearch () {
      if (this.next === -1) {
        return
      }
      this.$store.state.isLoading = true

      const term = this.searchTxt.toUpperCase()
      const categoriesSelected = (this.categoriesSelected.map(c => c.name)).join(',')
      const brandsSelected = (this.brandsSelected.map(b => b.name)).join(',')
      const familiesSelected = this.familiesSelected.join(',')

      axios.get(
        this.BASE_URL + '/search',
        { params: { categories: categoriesSelected, brands: brandsSelected, families: familiesSelected, term: term, next: this.next } }
      ).then(res => {
        res.data.data.map(result => {
          this.results.push(result)
        })
        this.next = res.data.next
      }).catch(err => {
        console.log(err)
      }).finally(_ => {
        this.$store.state.isLoading = false
      })
    },
    initSearch () {
      this.$store.state.isLoading = true

      this.hideFilters()
      if (this.hasFirstSearch === false) {
        this.hasFirstSearch = true
      }

      const term = this.searchTxt.toUpperCase()
      const categoriesSelected = (this.categoriesSelected.map(c => c.name)).join(',')
      const brandsSelected = (this.brandsSelected.map(b => b.name)).join(',')
      const familiesSelected = this.familiesSelected.join(',')

      axios.get(
        this.BASE_URL + '/search',
        { params: { categories: categoriesSelected, brands: brandsSelected, families: familiesSelected, term: term } }
      ).then(res => {
        this.results = res.data.data
        this.next = res.data.next
      }).catch(err => {
        this.$store.dispatch('showSnackbar', 'Error de conexion. Intente de nuevo en unos minutos')
        console.log('error***', err)
      }).finally(_ => {
        this.$store.state.isLoading = false
      })
    },
    onSelectAnItem (item, typeCollection) {
      this.$store.dispatch('onSelectAnItem', { listType: typeCollection, item: item })
    }
  },
  mounted () {
    const self = this
    window.onscroll = function (ev) {
      if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
        self.scrollSearch()
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
  
.btn-filter-by-brand
.btn-filter-by-category
  border 0
  height 40px
  color white
.btn-filter-by-category
  background orange 
.btn-filter-by-brand
  background #55c185
.brands-selected
.categories-selected
.families-selected
  color black
  font-weight 700


.results-length
  margin-left 4px
.results-container
  margin-left auto
  margin-right auto
  max-width 900px

.result-item
  background white
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin 10px 4px
  padding 10px 20px
.de-item
  font-size 20px
  font-weight 700
  color #33A9F0
.id-item
  font-style italic

.chevron-btn
  vertical-align middle

.filter-container
  margin-left auto
  margin-right auto
  max-width 900px


.hide-panel-enter-active {
  transition: all .3s ease;
}
.hide-panel-leave-active {
  transition: all .3s ease;
  // transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.hide-panel-enter, .hide-panel-leave-to
/* .hide-panel-leave-active below version 2.1.8 */ {
  // transform: translateY(-80px);
  opacity: 0;
}
.search-title
  max-width 900px
  margin-left auto
  margin-right auto
.chips-container
  white-space: nowrap;
  display flex
  flex-wrap nowrap
  overflow auto
.dictionary
  display flex
  flex-wrap nowrap 
  justify-content: space-evenly
.letter
  display inline

.filter-by-families
.filter-by-brands
.filter-by-categories
  margin-bottom 2px
  margin-top 2px
.empty-results
  margin-top 20px
  text-align center

    
#index::-webkit-scrollbar-track
  background-color: #00000011;
  height: 10px;
  width: 6px;
#index::-webkit-scrollbar
  width: 6px;
  height: 10px;
  background-color: rgba(227, 222, 245, 0);
#index::-webkit-scrollbar-thumb
  width: 6px;
  height: 10px;
  background-color: #7d7d80
  
</style>

