<template>
  <div id="app">
      <router-view></router-view>
      <transition name="fade-load">
        <div class="loading-screen" v-if="isLoading">
          <pacman-loader class="loader" :loading="true" :color="'#038ca0'"></pacman-loader>
        </div>
      </transition>
  </div>
</template>

<script>
import PacmanLoader from 'vue-spinner/src/PacmanLoader.vue'

export default {
  name: 'app',
  components: { PacmanLoader },
  computed: {
    isLoading () {
      return this.$store.state.isLoading
    }
  },
  created () {
    this.$store.dispatch('fetchFilters')
  }
}
</script>

<style lang="stylus">
fontFamily = 'Cairo'

body
  margin: 0;
  background: #eff0f1 
  
#app
  font-family: fontFamily, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  
::-webkit-input-placeholder /* Chrome/Opera/Safari */
  font-family: fontFamily, sans-serif;
::-moz-placeholder /* Firefox 19+ */
  font-family: fontFamily, sans-serif;
:-ms-input-placeholder  /* IE 10+ */
  font-family: fontFamily, sans-serif;
:-moz-placeholder /* Firefox 18- */
  font-family: fontFamily, sans-serif;

.input-text
.btn
  font-family: fontFamily, sans-serif;
  
::-webkit-scrollbar-track
  background-color: #00000011;
  height: 6px;
  width: 3px;
::-webkit-scrollbar
  width: 3px;
  height: 6px;
  background-color: rgba(227, 222, 245, 0);
::-webkit-scrollbar-thumb
  width: 3px;
  height: 6px;
  background-color: #7d7d80
  
.loading-screen
  position fixed
  top 0
  left 0
  height 100vh
  width 100%
  background #ffffffe0
  z-index 100

.loader
  position: relative;
  font-size: 0px;
  top: 50%;
  transform: translateY(-50%) translateX(-49px);
  left: 50%;

.fade-load-enter-active {
  transition: all .3s ease;
}
.fade-load-leave-active {
  transition: all .3s ease;
  // transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.fade-load-enter, .fade-load-leave-to
/* .fade-load-leave-active below version 2.1.8 */ {
  // transform: translateY(-80px);
  opacity: 0;
}
</style>
